body {
    font-family: Arial, sans-serif;
    background-color:dimgray;
    margin: 40px;

    h1 {
        color: #f2f2f2;
    }

    h2 {
        margin-top: 30px;
        color: #ffffff;
       }

    p {font-size: 16px;
        color: #f2f2f2;}

}